body {
    background-color: #f7f7f7;
    animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
    0% {
        background-color: #f7f7f7;
    }

    50% {
        background-color: #ffccaa;
    }

    100% {
        background-color: #f7f7f7;
    }
}
